<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66451933885-98roap53bk2nns97p1sv0lho7h4eahgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66451933885-98roap53bk2nns97p1sv0lho7h4eahgc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>66451933885-5ni1v2c2h575ohsonihqghrborjusdrp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBg3DX86QGYOHjD2dzEtjyJdfDTc4CG4-8</string>
	<key>GCM_SENDER_ID</key>
	<string>66451933885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.sitVolleyballApp</string>
	<key>PROJECT_ID</key>
	<string>sit-volleyball-game-videos</string>
	<key>STORAGE_BUCKET</key>
	<string>sit-volleyball-game-videos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66451933885:ios:8dc7e5ab8ad84475d9c5d4</string>
</dict>
</plist>